@use '../utils';

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    .form {
        &__header {
            margin: 1rem;
        }
    }
    .form__btn {
        display: flex;
        margin: 2rem;
        justify-content: right;

    }
}