// Grid Areas
$home-grid-areas: 
    "header header  header"
    "main   main    sidebar "
    "footer footer  footer";

// Limits
$max-width: 75rem;

// Fonts Variables
$base-font-family: 'Quicksand', sans-serif;

$title-font-size: 1.8rem;
$title-font-weight: 700;

$normal-font-size: 1.2rem;
$normal-font-weight: 400;

$logo-font-family: 'Righteous', cursive;
$logo-font-weight: 700;


// Components Variables
// Cards fonts
$card-button-font-family: 'Indie Flower', cursive;
$cards-max-width: 15rem;
$cards-max-height: 45rem;

//Image
$image-min-height: 200px;
$image-min-width: 200px;
$image-max-height: 400px;
$image-max-width: 400px;

//Header
$header-max-width: 80rem;

//Cart Item
$cart-item-max-width: 35rem;