
@use 'sass:map';
@use '../utils';

$background-color: map.get(utils.$colors-backgorund, '110');

.sidebar {
    //background-color: $background-color;
    //color: $font-color;
    //background-color: black;
    transition: all 0.5s ease;
    z-index: 10;
    position: relative;

    &__content {
        margin: 1rem;
    }

    &__header {
        margin: 1rem 0rem;
    }

};