@use '../../utils';
@use 'sass:map';

$glow-color: map.get(utils.$colors-font, '120');
$background-color: map.get(utils.$color-pallete, '0');

.form {
    background-color: $background-color;
    border-radius: .2rem;
    box-shadow: 0px 0px 10px $glow-color;
    opacity: .97;
    color: map.get(utils.$colors-font, '110');
    display: flex;
    flex-direction: column;
    width: 40rem;

    &__misc {
        text-align: center;
    }
}

.field-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.btn-submit {
    font-size: 1rem;
}

@media screen and (max-width: map.get(utils.$grid-breakpoints, 'sm')) {
    .form {
        height: auto;
        width: auto;
        .field-container {
            display: block;
        }
    }
}